// Custom SCSS

@import "../node_modules/bootstrap/scss/functions";


$body-bg: #040303FF;
$body-color: #b4b4b4;

$link-color: #f0d472;

$theme-colors: (
    "primary":  #8a8fc4,
    "secondary": #1c1618,
    "success": #6c8c50,
    "info": #e3d245,
    "warning": #d88038,
    "danger": #a13d3b,
    "light": #f9f5ef,
    "dark": #040303);

$font-stack: Helvetica,
    sans-serif;
// default variable overrides ^^^

// remainder of required Bootstrap stylesheets (including any separate color mode stylesheets)
@import "../node_modules/bootstrap/scss/variables";
@import "../node_modules/bootstrap/scss/variables-dark";

// default map overrides ^^^

@import "../node_modules/bootstrap/scss/maps";
@import "../node_modules/bootstrap/scss/mixins";
@import "../node_modules/bootstrap/scss/root";

@import "../node_modules/bootstrap/scss/utilities";
@import "../node_modules/bootstrap/scss/reboot";
@import "../node_modules/bootstrap/scss/type";
@import "../node_modules/bootstrap/scss/images";
@import "../node_modules/bootstrap/scss/containers";
@import "../node_modules/bootstrap/scss/grid";
@import "../node_modules/bootstrap/scss/helpers";

@import "../node_modules/bootstrap/scss/utilities/api";

@mixin parallax {
    /* Set a specific height */
    //height: 500px;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: repeat;
    background-size: 100%;
}

.star-parallax {
    @include parallax(
);

/* The image used */
background-image: url('../img/stars.png');
}