{% extends 'layout.html' %}


{% block content %}
    <div class="container">
            <div class="row g-5">
                <div class="col-lg-8">
                    <!-- About Start -->
                    <section class="py-5 border-bottom wow fadeInUp" data-wow-delay="0.1s">
                        <h1 class="title pb-3 mb-5">Template Project Page</h1>
                        <p>This page is under construction!</p>
                        </div>
                    </section>
                    <!-- About End -->
                </div>
            </div>
        </div>

{% endblock content %}
    